body{
    font-family: 'Relaway', sans-serif;
    background-color: black;
    color: white;
}

.icon{
    background-color: aqua;
    padding-left: 50%;
    padding-right: 50%;
    padding-block: 10px;
}

.formulario{
    padding-left: 60px;
    padding-right: 60px;
}